<!DOCTYPE html>
<html lang="en">
    <head>
        <title>probonodonos</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>

    <body>   
        <div class="menu">
            <div class="topbar">
                <a href="/">
                    <img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" width="107" height="32" style="padding: 0px">
                </a>
                <span class="navigator">
                    <a href="/accounts/login/"><b>login</b></a>
                </span>
            </div>
        </div>
        <br>
        <div class="welcome">
            Welcome to Pro Bono Donos! <br>
            Pro Bono Donos is a clothing donation app based in Ann Arbor, Michigan. <br>
            This site was created in order to help those in underserved communities find quick and fashionable articles of clothing.
        <br>
        <br>
        <br>
        <br>
        </div>
        <div class="personal">
            <br>
            <div class="button">
            <form method="post" enctype="multipart/form-data">
                username <input type="text" name="username"/><br><br>
                password <input type="password" name="password"/>
                <input type="submit" value="login"/>
            </form>
            </div>
            <p>Don't have an account? 
                <b><a href="/accounts/create/">
                    Sign up
                </a></b>
            </p>
        </div>
    </body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bodoni_Moda">
    <style>
        body {
            font-family: "Bodoni Moda";
        }
        .welcome {
            text-align: center;
            font-size: 20px;
        }
        /* .button {
            
        } */
        input[type="submit"]{
            height: 40px;
            width: 100px;
            background: #ADD8E6;
            border: 2px solid #000;
            border-radius: 14px;
        }
    </style>
</html>