<!DOCTYPE html>
<html lang="en">
    <head>
        <title>probonodonos</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>

    <body>
        <div class="menu">
            <div class="topbar">
                <a href="/">
                    <img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" width="107" height="32" style="padding: 0px">
                </a>
                <span class="navigator">
                    <a href="/u/{{ logname }}/"><b>{{ logname }}</b></a>
                </span>
            </div>
        </div>
        
        <div class="personal">
            <form method="post" enctype="multipart/form-data">
                Old password <input type="password" name="password"/><br>
                New password <input type="password" name="new_password1"/><br>
                New password, again 
                <input type="password" name="new_password2"/><br>
                <input type="submit" name="update_password" value="submit"/>
            </form>
            <p><b><a href="/accounts/edit/">
                Back to edit account
            </a></b></p>         
        </div>
    </body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bodoni_Moda">
    <style>
        body {
            background-color: white;
            font-family: "Bodoni Moda";
        }
    </style>
</html>